/* Resetando o arquivo padrão do navegador E Cores das páginas em variáves */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

/* Conteúdo Principal da página */

main {
    background: url('../assets/background-main.svg') no-repeat;
    height: 1000px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 79.812rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

/* Menu do site */
.conteudo-menu {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 3.562rem;
}



.botao-conectar-carteira {
    display: flex;
    height: 3.125rem;
    width: 16.25rem;
    background-color: var(--text-color);
    
}

.botao-conectar-carteira a{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: var(--black-text);
    font-weight: 700;
    gap: 15px;
}

.conteudo-menu div {
    display: flex;
    justify-content: center;
}

.lista{
    display: flex;
    gap: 3.65rem;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.125rem;
}

.lista a {
    color: var(--text-color) ;
}

menu {
    height: 3.125rem;
    display: flex;
}

@media (max-width: 1310px) {
    .container {
        justify-content: space-evenly;
    }

    main {
        height: 1400px;
    }

    .conteudo-menu {
        gap: 6.25rem;
    }
}

@media (max-width: 1100px) {

    .conteudo-menu {
        gap: 1.875rem;
    }

    .lista{
        gap: 2rem;
    }
}

@media (max-width: 910px) {

    .container {
        justify-content: start;
        margin-left: 3rem;
    }

    .container .botao-conectar-carteira {
        display: none;
    }
}

@media (max-width: 740px) {
    .lista {
        display: none;
    }
}

@media (max-width: 420px) {
    .container {
        justify-content: space-evenly;
        margin-left: 2rem;
    }
}

/* Início da segunda seção do main */

.container-texto {
    color: var(--text-color);
    max-width: 79.812rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.conteudo {
    height: 27.25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.texto-imagem {
    display: flex;
    width: 40ch;
    flex-direction: column;
}

.texto-imagem p {
    margin-bottom: 3.437rem;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 400;
}

.avatar {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.texto-avatar {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.125rem;
}

#ten {
    font-weight: 700;
}

.titulo {
    font-size: 1.9rem;
    width: 32ch;
    max-width: 550px;
}

.titulo h1 {
    display: flex;
    flex-direction: column;
}

.titulo span {
    color: var(--color-logo);
}

@media (max-width: 1310px) {

    .conteudo {
        margin-left: 7.5rem;
        justify-content: center;
    }

    .imagem-banner img{
        display: none;
    } 
}

@media(max-width: 1180px) {
    .conteudo {
        margin-left: 64px;
    }

    .titulo {
        flex-wrap: wrap;
    }
}

@media (max-width: 1120px) {
    .titulo {
        font-size: 1.4rem;
        width: 24ch;
    }
}

@media(max-width: 1050px) {

    .container-texto {
        margin: 0px;
    }
    
    .conteudo {
        margin-left: 83px;
        align-items: center;
        justify-content: center;
    }
}

@media ( max-width: 950px) {
    .conteudo {
        margin-top: 90px;
        justify-content: start;
        margin-left: 64px;
    }

    .texto-imagem p {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 880px) {
    .texto-imagem {
        width: 54ch;
        display: flex;
    }

    .titulo {
        width: 48ch;
    }
}

@media (max-width: 650px) {
    .texto-imagem {
        width: 35ch;
    }

    .titulo {
        width: 24ch;
    }
}

@media (max-width: 460px) {

    .texto-imagem {
        width: 23ch;
        order: 2;
    }

    .conteudo {
        margin-left: 2rem;
    }

    .titulo {
        font-size: 1.1rem;
    }
}

/* Seção dos grid com imagens */

.container-grid {
    margin: 0 auto;
    max-width: 79.812rem
}

.grid-imagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card img{
    background-position: center;
    object-fit: cover;
    height: 197px;
    width: 307px;
}

@media (max-width: 1310px) {

    .grid-imagens {
        grid-template-columns: repeat(3, 307px);
        justify-content: center;
    }
}

@media (max-width: 1000px) {

    .grid-imagens {
        grid-template-columns: repeat(4, 156px);
    }

    .card img{
        background-position: center;
        height: 100px;
        width: 156px;
    }

    main {
        height: 900px;
    }
}

@media (max-width: 880px) {

    main {
        height: 1000px;
    }

    .grid-imagens {
       margin-top: 90px;
    }
}

@media (max-width: 730px) {
    .grid-imagens {
        grid-template-columns: repeat(3, 156px);
    }

    main {
        height: 1100px;
    }
}

@media (max-width: 630px) {
    .grid-imagens {
        grid-template-columns: repeat(2, 9.75rem);
        padding-top: 3rem;
        
    }

    main {
        height: 1300px;
    }
}

@media (max-width: 380px) {
    .grid-imagens {
        column-gap: 0.3rem;
        row-gap: 1rem;
    }
}

/* 3ª Seção do site */

.segundo-container {
    max-width: 100%;
    background: var(--body-background);
    color: var(--text-color);
}


.conteudo-container {
    display: grid;
    grid-template-columns: 315px 1fr;
    height: 660px;
}

.numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    border-right: 2px solid var(--subtitle-color);
    border-bottom: 2px solid var(--subtitle-color);
}

.numero1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numero1 h2 {
    font-size: 3.125rem;
    font-weight: 700;
}

.numero1 p {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--subtitle-color);
}

.conteudo-artistas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.textos-artistas {
    display: flex;
    height: 214px;
    margin-left: 100px;
    margin-top: 80px;
    gap: 126px;
}

.texto-1 p{
    width: 370px;
    font-size: 1.125rem;
    margin-bottom: 64px;
}

.texto-1 a {
    color: var(--text-color);
}

.texto-1 span {
    color: var(--color-logo);
}

.conteudo-artistas-img img{
    display: block;
    margin-top: 4.125rem;
    background-size: contain;
    background-position: center;
    object-fit: cover;
    height: 18.75rem;
    max-width: 100%;
}

@media (max-width: 1300px) {

    .textos-artistas {
        margin-left: 32px;
        gap: 1rem;
    }
}

@media (max-width: 1150px) {
    .conteudo-container {
        display: grid;
        grid-template-columns: 250px 1fr;
        height: 660px;
    }

    .texto-1 {
        width: 240px;
    }

    .texto-1 p {
        width: 230px;
        margin: 0px;
    }

}

@media (max-width: 800px) {

    .numeros {
        flex-direction: row;
        height: 15.625rem;
        gap: 1.8rem;
    }

    .numero1 h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    .numero1 p {
        font-size: 1rem;
    }

    .conteudo-container {
        grid-template-columns: 1fr;
        height: 947px;
    }

    .textos-artistas {
        flex-direction: column;
    }

    .texto-1 {
        width: 600px;
    }

    .texto-1 p {
        width: 600px;
        padding-bottom: 1.2rem;
    }

    .textos-artistas {
        height: 250px;
        margin-left: 32px;
        margin-top: 80px;
        gap: 32px;
    }

}

@media (max-width: 640px) {
    .texto-1 {
        width: 400px;
    }

    .texto-1 p {
        width: 400px;
        padding-bottom: 1.2rem;
    }

    .conteudo-artistas {
        height: 800px;
    }

    .textos-artistas {
        height: 400px;
        margin-left: 32px;
        margin-top: 80px;
        gap: 32px;
    }

    .conteudo-container {
        height: 798px;
    }
}

@media (max-width: 450px) {
    .texto-1 {
        width: 18.75rem;
    }

    .texto-1 p {
        width: 19.375rem;
        padding-bottom: 1.2rem;
    }
}

/* 3° seção Populares da semana */

.conteiner-populares {
    background: var(--body-background);
    height: 1200px;
    color: var(--text-color);
}

.populares-conteudo {
    height: 1150px;
    max-width: 1277px;
    margin: 0 auto;
}

.populares-conteudo h1 {
    font-size: 3.125rem;
    margin-left: 5.4375rem;
    margin-bottom: 9.875rem;
    padding-top: 9.375rem;
    /* width: 430px; */
}

.populares-conteudo span {
    color: var(--color-logo);
}

.populares-cards {
    margin-left: 5.4375rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 370px);
}

.titulo-populares p{
    display: flex;
    align-items: center;
    gap: 5.75rem;
    font-size: 1.875rem;
}

.titulo-populares {
    margin-bottom: 1.625rem;
}

.subtitulo-populares p{
    display: flex;
    gap: 5.75rem;
    color: var(--subtitle-color);
    font-size: 1.25rem;
}

.card1 p, span{
    font-size: 500;
}

.card1 img{
    display: block;
}

.imagem-astronauta img{
    width: 19.375rem;
    margin-top: 1.625rem;
}


@media (max-width: 800px) {
    
    .populares-conteudo h1 {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .populares-cards {
        margin-left: 2rem;
    }
}

@media (max-width: 642px) {
    
    .populares-conteudo h1 {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .conteudo-container {
        height: 1050px;
    }
}

@media (max-width: 470px) {
    
    .populares-conteudo h1 {
        width: 300px;
    }
}

@media (max-width: 770px){

    .populares-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 260px);
    }

    .titulo-populares p{
        gap: 2rem;
        font-size: 1.125rem;
    }

    .titulo-populares img {
        height: 20px;
    }

    .subtitulo-populares p{
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1rem;
    }

    .imagem-astronauta img{
        width: 200px;
        margin-top: 1.625rem;
    }
}

@media (max-width: 500px) {

    .conteiner-populares {
        height: 1600px;
    }


    .populares-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 300px);
    }

    .titulo-populares p{
        gap: 5.75rem;
        font-size: 1.25rem;
    }

    .titulo-populares img {
        height: 1.25rem;
    }

    .subtitulo-populares p{
        display: flex;
        align-items: center;
        gap: 5.75rem;
        font-size: 1rem;
    }

    .imagem-astronauta img{
        width: 16.5rem;
        margin-top: 1.625rem;
        padding-bottom: 3rem;
    }
}

/* Section melhores artistas */

.container-artistas {
    height: 800px;
    background: var(--body-background);
}

.artistas-content {
    height: 682px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.title {
    width: 100%;
    text-align: center;
}

.artistas-content .title h2{
    font-size: 3.125rem;
    color: var(--text-color);
    padding-top: 2rem;
    padding-bottom: 4rem;
} 

.artistas-content .title span{
    color: var(--color-logo);
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 111px;
    justify-content: center;
}

.section1 .card1 {
    width: 21.875rem;
    height: 9.375rem;
    background: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 1rem;
}

.section1 .card1#card1-flamingo {
    background: var(--color-logo);
}

.section1 .card1#card1-flamingo span{
    color: var(--text-color);
}

.section1 .card1 .font p {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.25rem;
}

.section1 .card1 .font span {
    color: var(--color-logo);
    font-size: 1.25rem;
    font-weight: 500;
}

.text-link-all-artists {
    padding-top: 4rem;
}

.text-link-all-artists a {
    color: var(--text-color);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    cursor: pointer;
}

@media only screen and (max-width: 920px) {
    
    .title h2{
        margin-bottom: 2rem;
        text-align: center;
    }

    .section1 .card1 {
        width: 35rem;
    }

    .container-artistas {
        height: 1450px;
    } 

    .section1{
        column-gap: 1.5rem;
        width: auto;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: start;
    }

    .artistas-content {
        width: auto;
        margin-right: 48px;
    }
}

@media only screen and (max-width: 664px) {
    .section1 .card1 {
        width: 21.875rem;
    }
}

@media only screen and (max-width: 700px) {
    .title h2{
        text-align: left;
    }

    .artistas-content .title h2{
        font-size: 2rem;
        padding-top: 0rem;
    } 
}

@media only screen and (max-width: 423px) {
    .artistas-content {
        width: auto;
        margin-right: 2rem;
    }

    .section1 .card1 {
        width: 20rem;
        height: 9.375rem;
        background: var(--card-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .title {
        text-align: left;
    }

    .artistas-content .title h2{
        padding-top: 1rem;
        padding-bottom: 2rem;
    } 
}

/* Estilização do footer */

.footer-container {
    height: 709px;
    max-width: 100%;
    background: var(--card-color);
}

.footer-content {
    height: 222px;
    border-bottom: 1px solid var(--subtitle-color);
}



.content-logo {
    display: flex;
    align-items: center;
    height: 14rem;
    width: 100%;
    justify-content: space-between;
}

.content-button {
    height: 5rem;
    width: 5rem;
    background: var(--color-logo);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1350px) {
    .content-logo {
        padding: 0 5rem;

    }
        
}

@media only screen and (max-width: 925px) {
    .content-logo {
        padding: 0 2rem;
        margin: 0px;
    }
}

@media only screen and (max-width: 440px) {
    .content-logo .footer-logo img{
        width: 200px;
    }

    .content-button {
        height: 3.5rem;
        width: 3.5rem;
    }
}

/* Estilização da segunda seção do footer */

.footer-form-content {
    width: 100%;
    display: flex;
    height: 20rem;
}

.footer-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border-right: 1px solid var(--subtitle-color);
}

.footer-form h2 {
    color: var(--text-color);
    font-weight: 500;
    width: 19ch;
    font-size: 1.875rem;
    line-height: 1.2;
}

.footer-form span {
    color: var(--color-logo);
}

.footer-input input{
    width: 17.5rem;
    padding: 1rem;
    background: var(--body-background);
    font-size: 1.25rem;
}

.footer-input button{
   padding: 1rem;
   font-size: 1.25rem;
   font-weight: 600;
}

.footer-links {
    display: flex;
    font-size: 1.25rem;
    margin: auto;
    max-width: 100%;
    gap: 10rem;
}

.footer-links ul li {
    color: var(--subtitle-color);
    margin-bottom: 1rem;
}

.footer-links ul li:nth-child(1) {
    font-weight: 600;
    color: var(--text-color);
}

.footer-form-content .footer-links{
    display: flex;
    align-items: center;
}